@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --border: 1px solid #d2dae0;
  --def-font-weight: 500;
  --bold-font-weight: 700;
  --rolling-transition: top 0.5s ease;
}

body {
  font-family: "Pretendard-Regular";
}

.basic-display {
  width: 930px;
  margin: 0px auto;
  margin-top: 5%;
}

.top-container {
  display: flex;
  justify-content: space-between;
}

.top-container__title {
  display: flex;
  align-items: center;
}

.top-container__title-text {
  font-size: 24px;
  font-weight: bold;
  margin-left: 8px;
}

.top-container__date-text {
  font-size: 16px;
  color: #5f6e76;
  position: relative;
  top: 50%;
}

.rolling-container {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.rolling__text-box {
  width: 460px;
  height: 48px;
  border: var(--border);
  background-color: #f5f7f9;
  align-items: center;
  overflow: hidden;
}

.rolling__text {
  position: relative;
  display: flex;
  top: -3px;
}

.rolling__text.prev {
  position: relative;
  display: flex;
  top: -20px;
  transition: var(--rolling-transition);
}

.rolling__text.cur {
  position: relative;
  display: flex;
  transition: var(--rolling-transition);
}

.rolling__text.next {
  position: relative;
  display: flex;
  top: 20px;
}

.rolling__press-text {
  margin-left: 16px;
  font-size: 14px;
  font-weight: var(--bold-font-weight);
  color: #14212b;
  white-space: nowrap;
}

.rolling__news-title-text {
  margin-left: 16px;
  font-size: 14px;
  font-weight: var(--def-font-weight);
  color: #4b5966;
  margin-right: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.press-container__menu {
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
  margin-top: 32px;
}

.press-container__press-menu {
  display: flex;
  font-size: 16px;
}

.press-container__press-menu > .press-container__all-press {
  font-weight: var(--bold-font-weight);
  color: #14212b;
}

.press-container__press-menu > .press-container__subscribed-press {
  font-weight: var(--def-font-weight);
  color: #879298;
  margin-left: 24px;
}

.press-container__view-menu {
  display: flex;
}

.press-container__view-icon + .press-container__view-icon {
  margin-left: 8px;
}

.press-container__view.grid{
  height: 388px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  border: var(--border);
}

.press-container__logo {
  height: 97.13px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--border);
}

.press-container__logo:hover {
  background-color: #f5f7f9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.press-container__subscribe-button {
  width: 72px;
  height: 24px;
  background-color: #fff;
  border: var(--border);
  border-radius: 50px;
  color: #879298;
  display: none;
}

.press-container__logo:hover > .press-container__subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.press-container__logo > img {
  height: 20px;
}

.press-container__logo:hover > img {
  display: none;
}

.press-container__view.list {
  height: 388px;
  display: block;
  border: var(--border);
}

.press-container__category-tab {
  height: 40px;
  border: var(--border);
  background-color: #f5f7f9;
  display: flex;
  font-size: 14px;
  font-weight: var(--def-font-weight);
}

.press-container__active-category {
  width: 166px;
  padding: 0px 16px;
  background-color: #7890e7;
  color: #fff;
  font-weight: var(--bold-font-weight);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.press-container__category {
  height: 40px;
  padding: 0px 16px;
  display: flex;
  align-items: center;
  color: #879298;
}

.press-container__detailed-news {
  padding: 32px;
}

.press-container__news-info {
  display: flex;
  align-items: center;
}

.press-container__news-info > img {
  height: 20px;
}

.press-container__edited-time {
  color: #5f6e76;
  font-size: 12px;
  font-weight: var(--def-font-weight);
  margin-left: 16px;
}

.press-container__news-content {
  display: flex;
}

.press-container__headline {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 16px 32px 32px 0px;
}

.press-container__headline-thumbnail {
  width: 320px;
  height: 200px;
}

.press-container__headline-title {
  font-size: 16px;
  margin-top: 16px;
}

.press-container__sidenews {
  display: flex;
  flex-direction: column;
}

.press-container__left-arrow {
  position: absolute;
  top: 430px;
  left: 12%;
}

.press-container__right-arrow {
  position: absolute;
  top: 430px;
  right: 12%;
}
