@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Pretendard-Regular";
}

.basic-display {
  width: 930px;
  margin: 0px auto;
  margin-top: 5%;
}

.top-container {
  display: flex;
  justify-content: space-between;
}

.top-container__title {
  display: flex;
  align-items: center;
}

.top-container__title-text {
  font-size: 24px;
  font-weight: bold;
  margin-left: 8px;
}

.top-container__date-text {
  font-size: 16px;
  color: #5f6e76;
  position: relative;
  top: 50%;
}

.rolling-container {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.rolling__text-box {
  width: 460px;
  height: 48px;
  border: 1px solid #d2dae0;
  background-color: #f5f7f9;
  align-items: center;
  overflow: hidden;
}

.rolling__text {
  position: relative;
  display: flex;
  top: -3px;
}

.rolling__text.prev {
  position: relative;
  display: flex;
  top: -20px;
  transition: top 0.5s ease;
}

.rolling__text.cur {
  position: relative;
  display: flex;
  transition: top 0.5s ease;
}

.rolling__text.next {
  position: relative;
  display: flex;
  top: 20px;
}

.rolling__press-text {
  margin-left: 16px;
  font-size: 14px;
  font-weight: 700;
  color: #14212b;
  white-space: nowrap;
}

.rolling__news-title-text {
  margin-left: 16px;
  font-size: 14px;
  font-weight: 500;
  color: #4b5966;
  margin-right: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.press-container__menu {
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
  margin-top: 32px;
}

.press-container__press-menu {
  display: flex;
  font-size: 16px;
}

.press-container__press-menu > .press-container__all-press {
  font-weight: 700;
  color: #14212b;
}

.press-container__press-menu > .press-container__subscribed-press {
  font-weight: 500;
  color: #879298;
  margin-left: 24px;
}

.press-container__view-menu {
  display: flex;
}

.press-container__view-icon + .press-container__view-icon {
  margin-left: 8px;
}

.press-container__view {
  height: 388px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  outline: 1px solid #d2dae0;
}

.press-container__logo {
  height: 97.13px;
  outline: 1px solid #d2dae0;
}

.press-container__logo:hover {
  background-color: #f5f7f9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.press-container__subscribe-button {
  width: 50%;
  height: 30%;
  background-color: #ffffff;
  border: 1px solid #d2dae0;
  border-radius: 50px;
  color: #879298;
  display: none;
}

.press-container__logo:hover > .press-container__subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.press-container__logo > img {
  width: 24px;
  height: 40px;
}

.press-container__logo:hover > img {
  display: none;
}

.press-container__category-tab {
  width: 930px;
  height: 40px;
  outline: 1px solid #d2dae0;
  background-color: #f5f7f9;
  display: flex;
  font-size: 14px;
  font-weight: 500;
}

.press-container__active-category {
  width: 166px;
  padding: 0px 16px 0px 16px;
  background-color: #7890e7;
  color: #ffffff;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.press-container__category {
  height: 40px;
  padding: 0px 16px 0px 16px;
  display: flex;
  align-items: center;
  color: #879298;
}

.press-container__left-arrow {
  position: absolute;
  top: 430px;
  left: 12%;
}

.press-container__right-arrow {
  position: absolute;
  top: 430px;
  right: 12%;
}
