html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

a, button{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 0 auto;
    width: 1000px;
}

.header-box {
    margin: 0 20px 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news-stand-message {
    width: 104px;
    height: 29px;
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
}

.date {
    width: 140px;
    height: 22px;
    text-align: right;
}

.show-all-company {
    font-weight: bold;
    margin-right: 10px;
    font-size: 15px;
}

.show-all-company, .show-subscribe-company {
    border: none;
    background-color: white;
}

.top-news-box {
    margin-bottom: 20px;
    margin: 0 20px 30px 20px;
    display: flex;
    justify-content: space-between;
    height: 45px;
}

.company-name {
    width: 60px;
    height: 17px;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.detail {
    width: 364px;
    height: 17px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.detail:hover {
    text-decoration: underline;
}

.first-top-news,
.second-top-news {
    display: flex;
    width: 490px;
    padding: 16px;
    border: 1px;
    background: #F5F7F9;
    position: relative;
    animation: firstMoveDown 2.5s infinite;
}

.second-top-news {
    animation: secondMoveDown 2.4s infinite;
}

@keyframes firstMoveDown {
    0% {
        top: 0;
    }

    100% {
        top: -49px;
    }
}

@keyframes secondMoveDown {
    0% {
        top: 0;
    }

    100% {
        top: -55px;
    }
}

.first-top-news:nth-of-type(1),
.first-top-news:nth-of-type(2) {
    animation-delay: 1s;
}

.second-top-news:nth-of-type(1),
.second-top-news:nth-of-type(2) {
    animation-delay: 2s;
}

.first-top-news:hover, .second-top-news:hover{
    animation-play-state: paused;
    z-index: 1;
}

img {
    width: 100%;
    height: 100%;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
}

nav {
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
}

nav>div {
    display: flex;
}

.company-list-box {
    display: flex;
    align-items: center;
    margin: 0 auto;
    position: relative;
}

.company-display {
    width: 960px;
    height: 426px;
}

.company-list-box>ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.company-list-box>ul>li {
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}

.list-0,
.list-1,
.list-2,
.list-3,
.list-4,
.list-5 {
    border-top: 1px solid gray;
}

.list-0,
.list-6,
.list-12,
.list-18 {
    border-left: 1px solid gray;
}

.newspaper {
    width: 24px;
    height: 24px;
}

.news-stand-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.date,
.detail,
.show-subscribe-company {
    opacity: 0.5
}

a>img {
    width: 24px;
    height: 24px;
}

.left-btn {
    position: absolute;
    left: -55px;
}

.light-btn {
    position: absolute;
    margin-left: 20px;
}

.top-news-display-board {
    overflow: hidden;
}

.margin-right {
    margin-right: 10px;
}

.company-display li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe {
    display: none;
    border: 1px solid gray;
    border-radius: 10px;
    color: #8b8989;
    background-color: white;
}

.company-display li:hover{
    .subscribe {
        display: inline;
    }
    .logo-img{
        display: none;
    }
}