html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 0 auto;
    width: 1000px;
}

header {
    margin: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__title-container__img {
    width: 24px;
    height: 24px;
}

.header__title-container__title {
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
}

.header__title-container__date {
    width: 140px;
    text-align: right;
}

.top-news-container {
    margin: 10px 20px;
    display: flex;
    justify-content: space-between;
    height: 45px;
}

.top-news-container__board {
    overflow: hidden;
    width: 475px;
}

nav {
    margin: 15px 20px 10px;
    display: flex;
    justify-content: space-between;
}

a,
button {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.subscribe-mode-container__show-all-company {
    font-weight: bold;
    margin-right: 10px;
    font-size: 15px;
}

.subscribe-mode-container__show-all-company,
.subscribe-mode-container__show-subscribed-company {
    border: none;
    background-color: white;
}

.company-name {
    width: 60px;
    height: 17px;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.detail {
    width: 364px;
    height: 17px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.detail:hover {
    text-decoration: underline;
}

.sub-news:hover {
    text-decoration: underline;
}

.first-top-news,
.second-top-news {
    display: flex;
    width: 490px;
    padding: 16px;
    border: 1px;
    background: #F5F7F9;
    position: relative;
    animation: firstMoveDown 2.5s infinite;
}

.second-top-news {
    animation: secondMoveDown 2.4s infinite;
}

@keyframes firstMoveDown {
    0% {
        top: 0;
    }

    100% {
        top: -49px;
    }
}

@keyframes secondMoveDown {
    0% {
        top: 0;
    }

    100% {
        top: -55px;
    }
}

.first-top-news:nth-of-type(1),
.first-top-news:nth-of-type(2) {
    animation-delay: 1s;
}

.second-top-news:nth-of-type(1),
.second-top-news:nth-of-type(2) {
    animation-delay: 2s;
}

.first-top-news:hover,
.second-top-news:hover {
    animation-play-state: paused;
    z-index: 1;
}

img {
    width: 50%;
    height: 40%;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
}



nav>div {
    display: flex;
}

.company-grid-container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    position: relative;
}

.company-display {
    width: 960px;
    height: 426px;
}

.company-grid-container>ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.company-grid-container>ul>li {
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}

.list-0,
.list-1,
.list-2,
.list-3,
.list-4,
.list-5 {
    border-top: 1px solid gray;
}

.list-0,
.list-6,
.list-12,
.list-18 {
    border-left: 1px solid gray;
}

.date,
.detail,
.show-subscribe-company {
    opacity: 0.5
}

a>img {
    width: 24px;
    height: 24px;
}

.left-btn {
    display: none;
    position: absolute;
    left: -55px;
}

.light-btn {
    position: absolute;
    margin-left: 20px;
}

.company-display li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe{
    display: none;
    border: 1px solid gray;
    border-radius: 10px;
    color: #8b8989;
    background-color: white;
}

.company-display li:hover {
    .subscribe {
        display: inline;
    }

    .logo-img {
        display: none;
    }
}

.sort-mode-container__show-list-mode,
.sort-mode-container__show-grid-mode {
    width: 24px;
    height: 24px;
}

.list-mode-container {
    margin: 16px auto;
    border: 1px solid rgb(209, 208, 208);
    width: 960px;
    height: 426px;
}

.list-mode-container>nav {
    height: 40px;
    background: #F5F7F9;
    justify-content: left;
    align-items: center;
    margin: 0;
    border-bottom: 1px solid rgb(209, 208, 208);
}

.list-mode-main-container {
    display: none;
    align-items: center;
    margin: 0 auto;
    position: relative;
    height: 458px;

}

.category {
    margin: 0 15px;
    color: #a2a5a7;
    size: 14px;
}

.list-mode-container>.news-display {
    width: 100%;
    height: 90%;
    display: flex;
}

.list-mode-container>.news-display>.main-news-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    text-align: center;
}

.list-mode-container>.news-display>.sub-news-container {
    width: 60%;
    height: 100%;
}

.main-news-container>.main-news-header {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0px;
    align-items: center;
}

.main-news-container>.main-news-img {
    width: 320px;
    height: 200px;
    border: 1px;
    margin: 0 auto 30px;
}

.main-news-container>.main-news-title {
    width: 350px;
    height: 40px;
    margin: 0 auto;
}

.sub-news-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sub-news, .edit-company-name{
    width: 530px;
    height: 22px;
    size: 16px;
    line-height: 22px;
    margin-left: 20px;
    margin-bottom: 15px;
}

.edit-date {
    color: #5F6E76;
    width: 175px;
    height: 14px;
    margin-bottom: 5px;
    font-size: 15px;
}

.edit-company-name {
    color: #879298;
    font-size: 14px;
}

.wrap {
    width: 960px;
    margin: 0 auto;
}

.list {
    display: flex;
    background: #f3f3f3;
}

.item {
    display: flex;
    position:relative;
    padding: 15px 10px;
    font-size: 14px;
    font-weight:bold;
    color: #333;
}

.nav-animation span, .totalPage {
    position:relative;
    z-index:2;
}
.nav-animation {
    padding-right: 70px;
    background:rgba(196, 211, 255, 0.735);
}

.nav-animation span {
    color: #fff;
}

.nav-animation::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    z-index: 1;
    background:rgb(40, 86, 223);
    animation: fill 20s;
}

@keyframes fill {
    from {width: 0;}
    to {width:100%;}
}

.item__totalPage {
    display: none;
    position: relative;
    left: 40px;
}
#list-view__company-logo {
    width: 79px;
    height: 20px;
    margin-top: 3px;
    object-fit: scale-down;
}

.subscribe-btn {
    padding: 2px 7px;
    border: 1px solid gray;
    border-radius: 10px;
    color: #879298;
    background: #F5F7F9;
}

.main-news-src {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.list-view-left-btn {
    position: absolute;
    left: -55px;
}

.list-view-light-btn {
    position: absolute;
    margin-left: 20px;
}

.active {
    display: flex;
    z-index: 2;
}
