body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	min-height: 500px;
	min-width: 500px;
  width: 930px;
}

header {
	display: flex;
  height: 84px;
  position: relative;
}

.newsstand {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  font-size: 1.5rem;
}

#refresh-btn {
  background: #ffffff;
  border: 0px;
  margin-right: 10px;
}

#date {
  margin-left: auto;
  align-self: flex-end;
}

.rollingnews-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 10px;
  overflow: hidden;
}

.rollingnews-content-left,
.rollingnews-content-right {
  background-color: #f6f7f9; 
  padding: 10px;
  font-size: 30px;
  width: 47%;
}

@keyframes roll {
  0% {
    transform: translateY(100%); 
  }
  100% {
    transform: translateY(-100%); 
  }
}

.rollingnews-content-left b,
.rollingnews-content-right b{
  display: flex;
  font-size: 16px; 
  color: #111; 
  white-space: nowrap;
  animation: roll 5s linear infinite;
}

.rollingnews-content-left span,
.rollingnews-content-right span {
  font-size: 14px;
  margin-left: 10px; 
  color: #666; 
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* 말줄임 왜 안되지 */
}

.mediacompany {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-between; /* 양 옆에 정렬 */
}

.list-view-btn, .grid-view-btn {
  background: #ffffff;
  border: 0px;
}

.view-btn {
  display: flex;
  align-items: center;
}

.newsgroup {
  display: flex;
  position: relative;
}

.newsgroup-grid {
  border-top: 1px solid rgba(0, 0, 0, 0.8);
  border-left: 1px solid rgba(0, 0, 0, 0.8);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, auto);
  width: 930px;
  height: 368px;
  position: relative;
}

.newsgroup-grid_logo {
  border-right: 1px solid rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.8); 
  padding: 10px;
  font-size: 30px;
  text-align: center;
  background: white;
  position: relative;
}

.newsgroup-grid_logo img {
  visibility: visible;
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: 60%;
}

.newsgroup button {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  border: 1px solid #fefefe;
  background-color: white;
  top: 50%;
  transform: translateY(-50%);
}

.right-btn {
  right: -10%;
}

.left-btn {
  left: -10%;
}

.right-btn img {
  height: 40px;
}

.left-btn img {
  height: 40px;
}

.news_logo {
  border-right: 1px solid rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.8); 
  padding: 10px;
  font-size: 30px;
  text-align: center;
  background: white;
  position: relative;
}

.newsgroup-grid_logo .subscribe-btn {
  display: none;
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background: #ffffff;
  border: 1px solid #6E8091;
  border-radius: 50px;
}

.newsgroup-grid_logo:hover {
  background: #f6f7f9;
}

.newsgroup-grid_logo:hover img {
  visibility: hidden;
}

.newsgroup-grid_logo:hover .subscribe-btn {
  display: block;
}